body {
    font:18px 'Helvetica Neue',Arial,Heletica,sans-serif;
}

/*crawl_status ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    color: red;
}

crawl_status ul li {
    margin-left: 0;
    padding: 3px 15px;
    border-left: 1px solid #000;
    list-style: none;
    display: inline;
}

crawl_status ul li.first {
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
}
*/
#error-container {
    color: #F53022;
    border: solid #F53022 1px;
    width: 600px;
    padding: 10px;
    font-weight: bold;
    background-color: #FFFFC7;
    display: none;
}
#queue-status {
    padding: 10px;
    display: none;
    border: solid #0B6138 1px;
    width: 600px;
    background-color: #91E3A2;
}
#crawl-stats {
    padding: 10px;
    xdisplay: none;
    border: solid #0B6138 1px;
    width: 600px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    xbackground-color: #91E3A2;
}
.crawl_stat_status {
    font-weight: bold;
}
#services-header {
    font-weight: bold;
    color: #0B6138;
}

#install-filter {
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

table.gridtable {
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}
.crawl-status-Successful {
    color: green;
    background-color: #CEF6CE;
}
.crawl-status-Failed {
    color: red;
    background-color: #F6CECE;
}
.log {
    display: none;
    position: absolute;
    width: 1024px;
    height: 640px;
    top: 20px;
    left: 20px;
    z-index: 2;
    border: solid black 1px;
    background-color: #fff;
    overflow:scroll;
    padding: 20px;
}

#view-log-textarea {
    margin-top: 20px;
    width: 1000px;
    height: 600px;    
}

#close-log {
    font-size: 12px;
    float: right;
    width: 40px;
}

#crawl-statuses-form {
    display: none;
}

#login-form {
    border: solid black 1 px;
    width: 400px;
    padding: 20px 10px 20px 20px;
    margin:0 auto;
    margin-top: 100px;
    display: none;
    text-align: center;
    border: solid black 1px;
}
#login-header {
    font-size: 30px;
    padding: 10px;
}
#invalid-login {
    color: #F53022;
    display: none;
    padding-top: 20px;
    font-weight: bold;
}

.align-right {
    text-align: right;
}